extends ../../layout/layout

block append _var
    - 
        title = 'Best Practice' + (_title? ' &bullet; '+_title: '')
        header = 'appHeader'
        footer = 'appFooter';
    //- title= title

block nav
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav
            -
                var menu = [
                    {path: '/', name: 'Резюме'},
                    {path: '/portfolio', name: 'Портфоліо'},
                ];
            each i in menu
                - ;
                li
                    a(href='/resume/#'+i.path) #{i.name}

block styles
    style.
        #disqus_thread {
            /*background-color: #1b2d44;*/
            /*background-color: rgba(27, 45, 68, 0.15);
            padding: 5px 15px;
            border-radius: 5px;*/
            /*margin-left: 230px;
            margin-right: -14px;*/
            padding: 5px 15px;
            /*border-top: 1px solid rgba(27, 45, 68, 0.15);*/
        }

//- block prepend content
block content
    .row
        .col-md-3
            ul#leftMenu.nav.nav-pills.nav-stacked.sPage(:style='menu.left.style')
                li
                    strong Welcome to programing
                li(:class='{active: item.active}', v-for='item in menu.left.items', v-if='item.show')
                    a(:href='item.ajax || item.link', @click.prevent='menuClick(item)')
                        i.glyphicon(:class="'glyphicon-'+item.icon")
                        | 
                        span(v-cloak) {{ item.name }}
        .col-md-9
            button#showComment.btn.btn-primary(data-toggle="modal" data-target="#commentModal")
                i.glyphicon.glyphicon-comment
                | 
                | Коментарі
                | 
                span.badge.disqus-comment-count(data-disqus-identifier="root")

            #commentModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='commentModalLabel')
                .modal-dialog.modal-lg(role='document')
                    .modal-content
                        header.modal-header
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                                span(aria-hidden='true') &times;
                            h4.modal-title Коментарі
                        .modal-body
                            #disqus_thread
                            //- form
                                .form-group
                                    label.control-label(for='recipient-name') Recipient:
                                    input#recipient-name.form-control(type='text')
                                .form-group
                                    label.control-label(for='message-text') Message:
                                    textarea#message-text.form-control
                        //- footer.modal-footer
                            button.btn.btn-default(type='button', data-dismiss='modal') Close
                            button.btn.btn-primary(type='button') Send message

            ol.breadcrumb.sPage.row(v-cloak v-if='menu.top.items.length')
                li
                    a(
                            :href='menu.top.current.ajax || menu.top.current.link'
                            @click.prevent='menuClick(null, true)'
                        )
                        i.glyphicon.glyphicon-home
                li(
                        v-for='(item, index, last = menuIsLast(index)) in menu.top.items'
                        :class='{active: last}'
                    )
                    a(v-cloak v-if='item.link', :href='item.link', @click.prevent='menuClick(item, true)')
                        i.glyphicon(:class="'glyphicon-'+item.icon")
                        | {{ item.name }}
                    span(v-cloak v-else='')
                        | {{ item.name }}
                    //- | {{ item.name }}
            .row
                .col-md-12.sPage
                    //- Content:
                    //- <pre>{{content | json}}</pre>
                    //- MenuLeftStyle:
                    //- <pre>{{menu.left.style | json}}</pre>


                    iframe.iframe(
                            v-cloak
                            v-if='content.link'
                            :style='contentStyle'
                            :src="content.link+'?v='+Math.random()"
                        )
                    div(v-else-if='content.ajax')
                        p(v-if='content.html' v-html="content.html")
                        p(v-else='') Завантаження...
                    div(v-else='' v-cloak)
                        //- p!= htmlWebpackPlugin.options.content
                        | Щось сталося:( Нажаль сторінку не знайдено(
                    //- hr
                    //- data-disqus-url="http://localhost:88/#disqus_thread"
                    //- span.disqus-comment-count(
                            data-disqus-identifier="root"
                        )
                    //- data-disqus-identifier="home"
                    //- span.disqus-comment-count(
                            data-disqus-identifier="root"
                        )
                    //- span.disqus-comment-count(data-disqus-url="http://localhost:88/#disqus_thread")
                    //- span.disqus-comment-count(data-disqus-url="https://slaawwa.github.io/#disqus_thread")
                    //- span.disqus-comment-count(
                            data-disqus-identifier="home"
                            data-disqus-url="https://slaawwa-github.disqus.com/#disqus_thread"
                        )
                    //- data-disqus-url="https://slaawwa.github.io/#disqus_thread"
                    //- span.disqus-comment-count(
                            data-disqus-identifier="root"
                        )
                    //- span.disqus-comment-count(
                            data-disqus-identifier="home"
                            data-disqus-url="http://localhost:88/#disqus_thread"
                        )
                    //- data-disqus-identifier="home"
                    //- span.disqus-comment-count(data-disqus-url="http://localhost:88/#disqus_thread")
                    //- a(href="http://localhost:88/#disqus_thread" data-disqus-identifier="home")
                    //- a.disqus-comment-count(href="https://slaawwa-github.disqus.com/#disqus_thread")
                    //- hr

            //- hello
    //- #app
        //- p(v-html='m')
    //- p!= htmlWebpackPlugin.options.content
//- block _end
    //- script.
        function (b){
            for(var c,a,d,e=b.counts,b=b.text.comments;c=e.shift();)
                if(a=j[c.id]){
                    switch(c.comments){
                        case 0:d=b.zero;break;
                        case 1:d=b.one;break;
                        default:d=b.multiple
                    }
                    c=d.replace("{num}",c.comments);
                    a=a.elements;
                    for(d=a.length-1;d>=0;d--)
                        a[d].innerHTML=c
                }
            }
block scripts
    script#dsq-count-scr(src='//slaawwa-github.disqus.com/count.js' async)
    //- +script('https://cdn.jsdelivr.net/npm/vue')
//- doctype html
//- html
    head
        meta(charset='utf-8')
        title 
    body
        //- p= htmlWebpackPlugin.options.title || 'Webpack App' 
        p!= htmlWebpackPlugin.options.content
        h1 Test vueJS
        #app
            //- p(v-html='m')
            hello
